.input {
  @apply bg-base-100 rounded-btn border-2 border-opacity-0 border-base-content;
  &-bordered {
    @apply border-opacity-100;
  }
  &:focus {
    box-shadow: 0 0 0 2px hsl(var(--b1)), 0 0 0 4px hsla(var(--bc)/.2);
  }
  &-line {
    @apply border-0 border-b-2;
    &:focus {
      box-shadow: 0px 3px 0px 0px hsl(var(--b1));
    }
  }
  &-ghost {
    @apply bg-opacity-5;
    &:focus {
      @apply bg-opacity-100 text-base-content;
      box-shadow: none;
    }
  }
  &-transparent {
    @apply bg-transparent text-base-100;
    &-primary {
      @apply text-primary;
    }
    &-secondary {
      @apply text-secondary;
    }
    &-accent {
      @apply text-accent;
    }
    &-info {
      @apply text-info;
    }
    &-success {
      @apply text-success;
    }
    &-warning {
      @apply text-warning;
    }
    &-error {
      @apply text-error;
    }
  }
  &-back {
    @apply border-base-100;
  }
  &-primary {
    @apply border-primary;
  }
  &-secondary {
    @apply border-secondary;
  }
  &-accent {
    @apply border-accent;
  }
  &-info {
    @apply border-info;
  }
  &-success {
    @apply border-success;
  }
  &-warning {
    @apply border-warning;
  }
  &-error {
    @apply border-error;
  }
  &-disabled,
  &[disabled]{
    @apply cursor-not-allowed bg-base-200 border-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
  }
}