@import"tailwindcss/base";
@import"tailwindcss/components";
@import"tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:wght@300;400;600;700&display=swap");


body {
    @apply scrollbar-thin scrollbar-thumb-primary scrollbar-track-base-100;
}


@layer utilities {
    .anim-element {
        transform: translate(var(--tx), var(--ty)) rotate(var(--r));
        will-change: transform;
    }

    .shadow-outline {
        text-shadow: -1px 1px 2px var(--tw-shadow-color),
            1px 1px 2px var(--tw-shadow-color),
            1px -1px 0 var(--tw-shadow-color),
            -1px -1px 0 var(--tw-shadow-color);
    }
}

.anchor {
    width: 20px;
    height: 4px;
    background: transparent;
    opacity: 0;
}


.BrainhubCarouselItem--active {
    @apply  !opacity-100;
}

.BrainhubCarouselItem {
    @apply opacity-30 !items-start;
}

.btn-outline-primary {
    @apply btn btn-outline btn-primary m-2 bg-base-100 !text-white border-primary hover:bg-primary hover:border-primary;
}

.textarea-primary {
    @apply textarea textarea-bordered placeholder-base-100 bg-transparent border-base-100 text-base-100 border-2;
}

.input-primary {
    @apply input input-ghost bg-transparent border-base-100 focus:text-base-100 border-b-2 border-t-0 border-x-0 focus:outline-none;
}

.skew-textarea {
    @apply relative overflow-hidden;

    &::before {
        content:"";
        @apply absolute w-32 h-32 right-0 bottom-0 z-50
        rotate-45 translate-x-1/2 translate-y-1/2
        ;
    }

    &::after {
        content:"";
        @apply absolute w-12 h-12 left-0 bottom-0 z-50
        rotate-45 -translate-x-1/2 translate-y-1/2;
    }
}

 /* NEcesary in mobile, for full (no overflow) size of canvas */
 .full-screen-div {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
  }

   /* NEcesary in mobile, for full (no overflow) size of canvas */
 .full-top-screen {
    top: 100vh; /* Fallback for browsers that do not support Custom Properties */
    top: calc(var(--vh, 1vh) * 100);
  }