@layer components {
    :root {
        --p: 48 100% 50%;
        --pf: 48 100% 40%;
        --pc: 0 0% 100%;
        --s: 48 100% 66.7%;
        --sf: 48 100% 43.3%;
        --sc: 0 0% 100%;
        --a: 35 69% 52%;
        --af: 35 69.2% 42%;
        --ac: 0 0% 100%;
        --n: 0 9.7% 6.1%;
        --nf: 0 20% 2%;
        --nc: 0 0% 100%;
        --b1: 0 12.2% 8%;
        --b2: 0 9.7% 6.1%;
        --b3: 0 20% 2%;
        --bc: 0 0% 100%;
        --in: 202 100% 70%;
        --su: 89 61.6% 52%;
        --wa: 54 68.8% 63.5%;
        --er: 0 100% 71.8%;
        --rounded-btn: 0;
        --rounded-btn: 0;
        --rounded-badge: 0;
        --tab-radius: 0;
        --animation-btn: 0;
        --animation-input: 0;
        --btn-focus-scale: 1;
        --btn-text-case: uppercase;
    }
    
}